#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBox {
  background: white;
  padding: 300px 90px;   /* большие внутренние отступы */
  border-radius: 10px;
  width: 570px;
  text-align: center;
  position: relative;    /* обязательно для абсолютного позиционирования дочерних элементов */
}

.modalTitle {
  font-size: 30px;
  color: #f5b642;
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  margin: 0;             /* убираем стандартные отступы, чтобы не сдвигать */
}

.btnfort {
  padding: 10px 10px;
  font-size: 24px;
  position: absolute;
  top: 1px;
  right: 20px;
  background: #f5b642;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnfort:hover {
  background: #e0a12e;
}
