/* Importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Reset styles (removes default browser spacing) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  padding-top: 30px;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

/* Page background wrapper */
.wrapper {
  min-height: 100vh; /* full screen height */
   padding-bottom: 200px; /* area down */

  /* Gradient background */
  background: linear-gradient(90deg, #1a1a2e, #162447, #1f4068, #e43f5a);
}

/* Main container (centers content) */
.container {
  width: 90%;
  max-width: 1000px;

  /* This centers block horizontally */
  margin: 0 auto;
}

/* Header layout */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(90deg, #0d0d17, #0b1223, #0f2034, #711f2d);
  backdrop-filter: blur(10px);
  display: flex; /* enables flexbox */
  justify-content: space-between; /* logo left, nav right */
  align-items: center; /* vertical alignment */
  padding: 18px 0;
  z-index: 100;
}

/* Logo styling */
.logo {
  position: fixed;
  left: 15px;
  background: linear-gradient(135deg, #b00909 0%, #711f2d 100%);

  transition: all 0.3s ease;

  transform: translateX(4px);
  transform: translateY(-3px);

  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 0.2s;

  font-size: 20px;
  font-weight: bold;
}

/* Navigation list */
nav ul {
  display: flex; /* horizontal menu */
  gap: 20px; /* space between items */
  list-style: none; /* removes bullets */
}
nav ul li {
 background: linear-gradient(135deg, #b00909 0%, #711f2d 100%);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;

}
nav ul li:hover {
  transform: translateX(4px);
  transform: translateY(-3px);
}
nav ul li a {
  color: #fff;

}

nav ul li:active {
  border-bottom: 2px solid #e43f5a;
//  color: #fff;
}

/* Hero section */
.hero {
  margin-top: 80px;

  /* 👉 ADD THIS to center text */
  text-align: center;
}

/* Main title */
.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Subtitle */
.hero p {
  font-size: 18px;
}

/* Content blocks */
.block {
  margin-top: 99px; 
  /* 👉 ADD THIS if you want centered text */
 /* text-align: center; */ 
}

/* Section titles */
.block h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Paragraph text */
.block p {
  font-size: 18px;
}
.block p1 {
  font-size: 27px;
}
.formula {
  font-style: italic;
  text-align: center;
  margin: 15px 0;
  font-size: 24px;
    color: #ffeb3b;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.quote {
  text-align: center;   /* center text */
  font-style: italic;   /* italic text */
  margin: 20px 0;
  font-size: 18px;
}

/* adds quotes automatically */
.quote::before {
  content: "“";
}

.quote::after {
  content: "”";
}
.spacer {
  height: 20px; /* высота “пустой строки” */
  margin: 0;    /* убираем стандартные отступы */

}
.image { 
  display: block; 
  margin: 20px auto; /* по центру */
  max-width: 100px;  /* ограничение размера */
}

.image-left { float: left; margin-right: 20px; }
.graph {
  position: absolute;
  top: 100px; 
  left: 50px;
  width: 150px;
}
.image:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.img-graph {
  display: block;          /* убираем встроенный inline */
  margin: 20px auto;       /* центр по горизонтали */
  max-width: 90%;          /* адаптивная ширина */
  height: auto;            /* сохраняем пропорции */
  border: 2px solid #fff;  /* рамка, если хочешь */
  border-radius: 8px;      /* скругление углов */

.image-right { float: right; max-width: 100px; margin-left: 20px; }
}
